body {
    background-image: linear-gradient(rgb(218, 218, 54) 75%, rgb(128, 44, 44) 100%);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    text-align: center;
    text-size-adjust: 25px;
    font-weight: bolder;
}

nav>ul {
    text-align: center;
    width: fit-content;
    display: flex;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav>ul>li {
    margin-left: 5vw;
    margin-right: 5vw;
    list-style-type: none;
}

li {
    list-style-type: none;
}

#ABC>li {
    list-style-type: disc;
}

img {
    height: 300px;
    width: 400px;
    padding: 15px;
    
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: relative;
    left: 0;
    top: 25px;
    color: black;
}

footer a {
    color: black;
}

header {
    background-color: white;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    text-align: center;
}